/* AssessmentForm.css */



.AssessmentForm-container {
    padding: 20px;
    max-width: 800px; /* Adjust based on your design */
    margin: auto;
  }
  
  .AssessmentForm-paper {
    margin-top: 20px;
    padding: 20px;
  }
  
  .AssessmentForm-category {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    margin-bottom: 30px;
  }
  

  
  .AssessmentForm-totalScore {
    margin-top: 30px;
    padding: 15px;
    background-color: #e8eaf6; /* Light background color to make it stand out */
    border-radius: 4px;
    text-align: center;
  }
  
  /* Add additional styles as needed */
  /* AssessmentForm.css */

.AssessmentForm-option {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    user-select: none; /* Prevent text selection on click */
    height: 36px; /* Adjust based on your design */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px; /* Add spacing between option tiles */
  }
  
  .AssessmentForm-option:hover {
    border-color: #5c6bc0; /* A color that stands out */
    background-color: rgba(92, 107, 192, 0.1); /* Light hover background color */
  }
  
  .AssessmentForm-option.selected {
    background-color: #5c6bc0; /* A color that stands out */
    color: white; /* Text color for selected option */
    border-color: #5c6bc0; /* Border color to match the background */
  }