/* AssessmentForm.css */

/* AssessmentForm.css */

.AssessmentForm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.AssessmentForm-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.AssessmentForm-option {
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
}

.AssessmentForm-option.selected, .AssessmentForm-option:hover {
  border-color: #1976d2;
  background-color: #1976d2;
  color: white;
}

.AssessmentForm-paper {
  margin-top: 20px;
}

.AssessmentForm-totalScore {
  margin-top: 20px;
  text-align: center;
}